<div class="career">
  <h1 style="text-align:center;">Career</h1>
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <i class="fa fa-desktop fa-2x" style="float:right;" aria-hidden="true"></i>
        <h2>2020-</h2>
        <p>Continental AG (Software Component Tester)</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <i class="fa fa-graduation-cap fa-2x" style="float:right;" aria-hidden="true"></i>
        <h2>2018-</h2>
        <p>University of Pannonia faculty of Business Information Technology</p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <i class="fa fa-book fa-2x" style="float:right;" aria-hidden="true"></i>
        <h2>2017-2018</h2>
        <p>Business Information Technology OKJ at Gáspár Noszlopy Graduate School of Economics</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <span style="float:right;"><mat-icon style="font-size:30px;">menu_book</mat-icon></span>
        <h2>2013-2017</h2>
        <p>Gáspár Noszlopy Graduate School of Economics</p>
      </div>
    </div>
  </div>
</div>
