<div class="hobbies">
  <h1>Hobbies</h1>
  <div class="mat-card-center">
    <mat-card class="hobbies-content">
      <mat-grid-list cols="2" rowHeight="10vh">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon style="margin-right:10px;">code</mat-icon>
          <p>Programming</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon style="margin-right:10px;">local_florist</mat-icon>
          <p>Gardening</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon style="margin-right:10px;">menu_book</mat-icon>
          <p>Book reading</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon style="margin-right:10px;">cake</mat-icon>
          <p>Cooking</p>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>

</div>


