<div class="skills">
  <h1>Skills</h1>
  <div class="mat-card-cvr">
    <mat-card class="skill-chart">
      <mat-grid-list cols="2" rowHeight="10vh">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <app-skill-progress style="width: 75%;" [name]="'Java'" [percentage]="70"></app-skill-progress>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <app-skill-progress style="width: 75%;"  [name]="'Spring'" [percentage]="65"></app-skill-progress>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <app-skill-progress style="width: 75%;" [name]="'Angular'" [percentage]="60"></app-skill-progress>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <app-skill-progress style="width: 75%;"  [name]="'MySQL'" [percentage]="85"></app-skill-progress>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <app-skill-progress style="width: 75%;"  [name]="'HTML'" [percentage]="75"></app-skill-progress>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <app-skill-progress style="width: 75%;"  [name]="'CSS'" [percentage]="40"></app-skill-progress>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>
</div>


